.wrapper {
  display: flex;
  align-items: center;
}

.avatar {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ef7722;
  box-shadow: 0 1px 6px rgba(25, 118, 210, 0.1);
  transition: all 0.1s ease;
  cursor: pointer;

  &:hover {
    border: 3px solid #ef7722;
  }

  &:active {
    border: 1px solid #ef7722;
  }
}
